// Variables

$bg-color: #EDEDED;
$text-color: darken($bg-color, 50%);
$emp-color: darken($bg-color, 70%);
$base-font-size: 14;
$scale-ratio: 1.25;
$leading: 1.7;

// Functions

@function leading($number) {
  @return #{ $number * $leading + 'rem'};
};

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}

@function scale($number) {
  @return #{pow($scale-ratio, $number) + 'rem'};
}

// Styles

html {
  font-size: $base-font-size+px;
  color: $text-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Helvetica", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: leading(1);
}

body {
  background: $bg-color;
  margin: 0;
}

main {
  max-width: 1600px;
  min-height: 100vh;
  margin: auto;
  padding: leading(2);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: leading(1);
  position: relative;
}

h1, h2, h3, h4 {
  color: $emp-color;
  letter-spacing: -.04em;
  margin-top: 0;
  font-weight: 700;
  line-height: leading(1);
}

h1 {
  font-size: scale(3);
  margin-bottom: leading(.5);
}

h2 {
  font-size: scale(2);
  color: $text-color;
}

h3 {
  font-size: scale(1);
  margin-bottom: leading(1);
}

h4 {
  font-size: scale(0);
  margin-bottom: 0;
}

p {
  margin-top: 0;
  line-height: leading(1);
  margin-bottom: leading(1);
}

a {
  color: $emp-color;
  border-bottom: 2px solid #cac8c8;
  text-decoration: none;
  transition: border-bottom 200ms ease-out;
  &:hover {
    border-bottom: 2px solid $emp-color;
  }
}

strong {
  font-weight: 400;
  color: $emp-color;
  // background-color: rgb(249, 239, 0)
}

abbr {
  cursor: help;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.grid {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 0 leading(2);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: leading(1);
  background-image: linear-gradient(to bottom, rgba(255, 12, 35, 0.12) 1px, transparent 1px);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% leading(1);
}

.grid--column {
  height: 100%;
  border-left: 1px solid hsla(200, 100%, 50%, .4);
  border-right: 1px solid hsla(200, 100%, 50%, .4);
  justify-self: stretch;
}

.tag-list {
  height: leading(1);
  margin-bottom: leading(1);
  li {
    display: inline;
    color: $bg-color;
    background: $text-color;
    padding: .3em .7em;
    font-size: scale(-2);
    border-radius: 50px;
  }
}

.titles-section {

}

.about-section {

}

.skills-section {

}

.work-section {
  p {
    margin-bottom: 0;
  }
}

.misc-section {
  position: absolute;
  bottom: leading(2);
  left: leading(2);
}

// Animation

.fade-slide-down {
  transition: transform 450ms  cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 450ms  cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transform: translateY(0);
  opacity: 1;
  &.hidden {
    transform: translateY(-100px);
    opacity: 0;
  }
}

.fade-slide-right {
  transition: transform 450ms  cubic-bezier(0.165, 0.840, 0.440, 1.000), opacity 450ms  cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transform: translateX(0);
  opacity: 1;
  &.hidden {
    transform: translateX(-100px);
    opacity: 0;
  }
}

.expand-down {
  transition: transform 1s ease-out;
  transform: scaleY(100%);
  transform-origin: top;
  &.hidden {
    transform: scaleY(0);
  }
}

.fade-in {
  transition: opacity 1s ease-out;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
}

// Responsive

@media only screen and (max-width: 1000px) {
  main, .grid {
    grid-template-columns: 1fr;
  }
  .misc-section {
    position: relative;
    bottom: auto;
    left: auto;
  }
}
